$owl-red-logo: rgb(185, 28, 59);
$owl-red: rgb(213,11,46);
$owl-red-2: rgb(211,64,88);
$owl-lightblue-darkend: rgb(45, 78, 92);
$owl-lightblue: rgb(78,135,160);
$owl-lightblue-2: rgb(113,159,179);
$owl-lightblue-3: rgb(149,183,198);
$owl-lightblue-5: rgb(218,231,237);
$owl-grey: rgb(97,116,129);
$owl-grey-2: rgb(129,144,154);
$owl-grey-3: rgb(170, 172, 179);
$owl-grey-3-darkend: rgb(118, 119, 124);
$owl-grey-darkend: rgb(54, 64, 71);
$owl-lightgrey: rgb(242,242,242);
$owl-teal: rgb(0,108,125);
$owl-teal-opa4: rgb(0,108,125,0.4);
$owl-teal-dark: rgb(59,101,120);
$owl-teal-2: rgb(51,137,151);
$owl-teal-3: rgb(102,167,177);
$owl-blue: rgb(0,112,161);
$owl-blue-2: rgb(51,141,180);
$owl-blue-3: rgb(102,169,199);
$owl-blue-3-opa4: rgb(102,169,199,0.4);
$owl-blue-3-opa08: rgb(102,169,199,0.08);
$owl-orange: rgb(255,158,27);
$owl-orange-2: rgb(255,177,73);
$owl-orange-3: rgb(255,197,118);
$owl-green: rgb(169,194,63);
$owl-green-opa4: rgb(169,194,63,0.4);
$owl-green-opa08: rgb(169,194,63,0.08);
$owl-green-2: rgb(186,206,101);
$owl-green-3: rgb(203,218,140);
$owl-darkgreen-opa2: rgba(171, 173, 79, 0.2);
$owl-customblue-opa1: rgba(44, 72, 85, 0.1);
$dark-blue: rgb(31,47,63);
$owl-usecase-grey: rgba(242,246,248);
$owl-usecase-incentive-grey: rgba(223,227,231);

// to use the colors in vue code. Can be imported with --> import OwlColors from "@/assets/styles/itsowlcolors.scss"
:export {
    owl_red: $owl-red;
    owl_red_2: $owl-red-2;
    owl_lightblue_darkend: $owl-lightblue-darkend;
    owl_lightblue: $owl-lightblue;
    owl_lightblue_2: $owl-lightblue-2;
    owl_lightblue_3: $owl-lightblue-3;
    owl_lightblue_5: $owl-lightblue-5;
    owl_grey: $owl-grey;
    owl_grey_2: $owl-grey-2;
    owl_grey_3: $owl-grey-3;
    owl_grey_3_darkend: $owl-grey-3-darkend;
    owl_lighgrey: $owl-lightgrey;
    owl_teal: $owl-teal;
    owl_teal_2: $owl-teal-2;
    owl_teal_3: $owl-teal-3;
    owl_blue: $owl-blue;
    owl_blue_2: $owl-blue-2;
    owl_blue_3: $owl-blue-3;
    owl_blue_3_opa4: $owl-blue-3-opa4;
    owl_orange: $owl-orange;
    owl_orange_2: $owl-orange-2;
    owl_orange_3: $owl-orange-3;
    owl_green: $owl-green;
    owl_green_2: $owl-green-2;
    owl_green_3: $owl-green-3;
    owl_green_opa4: $owl-green-opa4;
    dark_blue: $dark-blue;
  }